.projectclass {
    color: black;
}

.projectclass:hover {
    background-color: #002d64;
    color: white;
}


.projectButton {
    color: white;
    /* text-decoration: none; */
    border: 1px;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    background-color: #002d64;
    transition: 0.2s;
}

.projectButton:hover {
    background-color: white;
    color: black;
}

.mainFlex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12%;
    margin-right: 15%;

}

.projectCard {
    width: 250px;
    padding: 15px;
    text-align: center;
    height: 350px;
    margin-left: 2%;
    margin-top: 5px;

}

.cardHeader {
    /* width: 200px; */
    text-align: center;
    height: 75px;
    font-weight: bold;
    text-transform: uppercase;
}