.projectclass {
  color: black;
}

.projectdetailnav {
  border: solid black 2px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.proj-flow-url {
  width: 150px;
  height: 150px;
  transition: 0.4s;
  border: solid gray 2px;
  border-radius: 5px;
}

.proj-flow-url:hover {
  width: 600px;
  height: 500px;
}
