.projectclass {
  color: black;
}

.projectclass:hover {
  background-color: #002d64;
  color: white;
}

.projectButton {
  color: white;
  /* text-decoration: none; */
  border: 1px;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  background-color: #002d64;
  transition: 0.2s;
}

.projectButton:hover {
  background-color: white;
  color: black;
}

.divflex {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 10%;
  margin-right: 15%; */
  display: inline-flexbox;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  /* width: 200px;
  height: 150px;
  margin: 10px; */
  padding: 10px;
  /* background-color: lightgray; */
  /* text-align: center; */
}

.projectCard {
  width: 250px;
  padding: 15px;
  text-align: center;
  height: 2000px;
  margin-bottom: 20px;
 }

.cardHeader {
  /* width: 200px; */
  text-align: center;
  height: 75px;
  font-weight: bold;
  text-transform: uppercase;
}
.adminproadd {
  margin-left: 45%;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #002d64;
  color: white;
}
