.employeefeed {
  align-items: center;
  justify-content: center;
  /* padding-left: 25%; */
  /* border: solid black 1px; */
}

.headingNews {
  text-align: center;
  /* color: #ae275f; */
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* .newsBackgro {
 background-image: url("https://i.pinimg.com/originals/89/91/bf/8991bfdc5a4aff11e249187195b30dff.jpg");
  background-size: cover; 
   background-repeat: no-repeat; 
  background-position: center;
  backdrop-blur: 10px; 
  opacity: 0.8; 
} 
*/
.newsfeedbg{
  background-color: lightgray;
}
