.card-container {
  width: 600px;
  height: 700px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  position: sticky;
  top:0;
  padding: 10px;
  text-align: left;
  background-color: #ddd;
 
}

td {
  padding: 10px;
  text-align: left;
  font-size: 10px;
}

.bold-text {
  font-weight: bold;
}

.light-text {
  color: #999;
}

.opportunityEmp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.card-container {
  height: 400px;
}

.oppHead {
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
