.navb-center {
  /* align-items: center;
    justify-content: center; */
  margin-left: 15%;
  color: white;
}

#navid {
  background-color: #002d64;
  color: white;
  height: 5rem;
}

/* a{
    font-size: 20px;
    background-color: #AE275F;
    color: white;
} */

.nav-link {
  font-size: 20px;
  background-color: #002d64;
  color: white;
  margin-left: 15px;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 32px;
  background-color: #002d64;
  color: white;
  /* text-transform: uppercase; */
  font-weight: bold;
}

.navbar-brand:hover {
  color: white;
  cursor: pointer;
}

/* div{
    background-color: #AE275F;
    color: white;
} */
.dropdown-item {
  text-align: center;
  text-transform: uppercase;
}
.dropdown-item:hover {
  background-color: #002d64;
  color: white;
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
}

.headerposition {
  width: 100%;
  /* position: sticky; */
  z-index: 2;
}

.navbar {
  margin-bottom: 5px;
  
}
