.flex-containersop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
  }

.policies{
  margin-left: 200px;
  margin-right: 200px;
}

.fontfamily{
  margin-top: 30px;
  margin-bottom: 20px;
  color: #002d64;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}